@import '../../styles/common';

$indicator-size: 1.2rem;
$indicator-position: rem(-3px);

.MessageIndicatorWrapper {
  position: relative;
}

.MessageIndicator {
  position: absolute;
  z-index: 1;
  top: $indicator-position;
  right: $indicator-position;
  width: $indicator-size;
  height: $indicator-size;
  border-radius: 100%;
  background-color: color('teal');
  border: solid 2px var(--p-surface-background, var(--top-bar-background));
}
